@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap')

  * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}

.wrapper {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 1px;
}

.screen {
  grid-column: 1 / -1;
  color: white;
  text-align: right;
  padding: 0;
  font-size: 2rem;
  overflow: hidden;
  background-color: #a29d9d;
}

.btn {
  display: grid;
  place-content: center;
  background-color: rgb(54, 52, 52);
  border-radius: 0;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.btn:hover {
  background-color: gray;
}

.light-gray {
  background-color: #d2cdcd;
  color: black;
}

.light-gray:hover {
  background-color: white;
}

.orange {
  background-color: #f97300;
}

.orange:hover {
  background-color: white;
  color: orange;
}

.zero {
  grid-column: 1 / span 2;
  border-radius: 0;
  place-content: unset;
  align-items: center;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input[type='button'] {
  font-family: 'Space Grotesk', sans-serif;
}

input[type='text'] {
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  font-family: 'Space Grotesk', sans-serif;
}

.active-link {
  color: orangered;
  text-decoration: underline;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
  background-color: white;
}

.nav-ul {
  display: flex;
  gap: 2em;
  list-style-type: none;
}

.nav-a {
  color: black;
  text-decoration: none;
}

.nav-a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 2em;
}

.welcome-para {
  line-height: 1.5;
}

.welcome-container {
  padding: 1rem 9rem;
}

.welcome-header {
  font-size: 23px;
}

.container {
  width: 58%;
  height: 51vh;
}

.container-quotes {
  width: 81%;
  padding: 3em 0;
  background-color: #f5f5f5;
  font-size: 11px;
  margin: 0 auto;
}

.calculator-container {
  display: flex;
  flex-wrap: wrap;
}

.calculator-header {
  flex: 50%;
  font-size: 23px;
}

.calculator-app {
  padding-left: 37em;
  padding-top: 0;
  position: absolute;
}

@media screen and (min-width: 768px) {
  .container {
    margin: 2em 5em;
  }

  header {
    padding: 1em 5em;
  }
}

@media screen and (min-width: 1025px) {
  .container {
    margin: 2em 10em;
  }

  header {
    padding: 1em 9em;
  }
}
